<div class="page-header">
  <h1>Account</h1>
</div>

<%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" } do |f| %>
  <%= f.semantic_errors %>
  
  <%= f.inputs do %>
    <%= f.input :name, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :email, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :username, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :password, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :password_confirmation, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :current_password, :hint => "(we need your current password to confirm your changes)", :input_html => { :class => "input-xlarge" } %>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :label => "Update Account", :button_html => { :class => "btn-inverse" } %>
  <% end %>
<% end %>