<div class="page-header">
  <h1>Sign up</h1>
</div>

<%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" } do |f| %>
  <%= f.semantic_errors %>
  
  <%= f.inputs do %>
    <%= f.input :email, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :username, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :password, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :password_confirmation, :input_html => { :class => "input-xlarge" } %>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :label => "Sign up", :button_html => { :class => "btn-inverse" } %>
  <% end %>
<% end %>

<%= render "links" %>
