<%= form_for(@deduction) do |f| %>
  <% if @deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deduction.errors.count, "error") %> prohibited this deduction from being saved:</h2>

      <ul>
      <% @deduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :budget_id, 'Budget' %><br />
    <%= f.collection_select(:budget_id, Budget.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
