<%= form_for(@deduction, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deduction.errors.count, "error") %> prohibited this deduction from being saved:</h2>

      <ul>
      <% @deduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => "control-label" %>
    <div class="controls">
      <%= f.date_select :date, :order => [:day, :month, :year], :default => Time.now %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :budget_id, 'Budget', :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select(:budget_id, Budget.all, :id, :name) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-inverse" %>
  </div>
<% end %>
