<div class="page-header">
  <h1>
    Deduction 
    <small class="pull-right">
      <%= link_to favourites_path(:favourite => { :name => @deduction.name, :amount => @deduction.amount, :description => @deduction.description, :budget_id => @deduction.budget_id, :tag_list => @deduction.tag_list}), :method => :post do %><i class="icon-star"></i><% end %>
      &nbsp;
      <%= link_to edit_deduction_path(@deduction) do %><i class="icon-edit"></i><% end %>
    </small>
  </h1>
</div>

<p>
  <b>Name:</b>
  <%= @deduction.name %>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency(@deduction.amount) %>
</p>

<p>
  <b>Description:</b>
  <%= @deduction.description %>
</p>

<% if !@deduction.budget.nil? %>
<p>
  <b>Budget:</b>
  <%= @deduction.budget.name %>
</p>
<% end %>

<% if !@deduction.tag_list.empty? %>
<p>
  <b>Tags:</b>
  <%= @deduction.tag_list %>
</p>
<% end %>

<% if !@deduction.budget.nil? %>
<% if current_user == @deduction.budget.users.include?(current_user) %>
<p>
  <b>Created by:</b>
  <%= @deduction.user.name unless @deduction.user.name.empty? %>
  <%= @deduction.user.username if @deduction.user.name.empty? %>
  <%= @deduction.user.email if @deduction.user.name.empty? && @deduction.user.username.empty? %>
</p>
<% end %>
<% end %>