<div class="page-header">
  <h1>Deduction</h1>
</div>
  
<p>
  <b>Name:</b>
  <%= @deduction.name %>
</p>

<p>
  <b>Amount:</b>
  <%= number_with_precision @deduction.amount, :precision => 2 %>
</p>

<p>
  <b>Date:</b>
  <%= @deduction.date %>
</p>

<p>
  <b>Description:</b>
  <%= @deduction.description %>
</p>

<p>
  <b>Budget:</b>
  <%= @deduction.budget.name %>
</p>

<p>
  <b>Tags:</b>
  <%= @deduction.tag_list %>
</p>

<%= link_to 'Edit', edit_deduction_path(@deduction) %> |
<%= link_to 'Mark as a Favourite', favourites_path(:favourite => { :name => @deduction.name, :amount => @deduction.amount, :description => @deduction.description, :budget_id => @deduction.budget_id, :tag_list => @deduction.tag_list}), :method => :post %> |
<%= link_to 'Back', deductions_path %>
