<h1><%= @budget.name %></h1>

<ul>
<% @deductions.each do |deductions| %>
  <li>
    <%= link_to(deductions) do %>
      <%= deductions.name %> :- <%= deductions.amount %>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
