<div class="page-header">
	<h1 class="clearfix"><%= @budget.name %> <small class="pull-right"><%= link_to edit_budget_path(@budget) do %><i class="icon-edit"></i><% end %></small></h1>
</div>

<ul class="nav nav-tabs nav-stacked">
<% @transactions.each do |transaction| %>
  <li>
    <%= link_to transaction, :class => 'clearfix' do %>
      <span class="pull-left">
        <i class="icon-<%= transaction.icon %>"></i>&nbsp;
      </span>
      <span class="pull-left">
        <strong><%= transaction.name %></strong> <br />
        <%= number_to_currency(transaction.amount) %> on <%= transaction.created_at.strftime('%e/%-m/%Y') %>
      </span>
    <% end %>
  </li>
<% end %>
</ul>

<%= will_paginate @transactions, :page_links => false, :previous_label => "<i class=\"icon-chevron-left\"></i>", :next_label => "<i class=\"icon-chevron-right\"></i>" %>
