<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="pull-right">
      <%= link_to '#weeks', :"data-toggle" => "tab" do %>
        <i class="icon-calendar"></i> <span class="hidden-phone">Weeks</span>
      <% end %>
    </li>
    <li class="<%= "active " if params[:addition_page].presence %>pull-right">
      <%= link_to '#week-deduction', :"data-toggle" => "tab" do %>
        <i class="icon-bookmark"></i> <span class="hidden-phone">Transactions</span>
      <% end %>
    </li>
    <li class="<%= "active " if params[:deduction_page].nil? && params[:addition_page].nil? %>pull-right">
      <%= link_to '#budgets', :"data-toggle" => "tab" do %>
        <i class="icon-book"></i> <span class="hidden-phone">Budgets</span>
      <% end %>
    </li>
  </ul>

  <div class="tab-content">

    <div class="<%= "active " if params[:deduction_page].nil? && params[:addition_page].nil? %>tab-pane" id="budgets">
      <ul class="nav nav-tabs nav-stacked">
        <% current_user.budgets.each do |budget| %>
          <li>
            <%= link_to budget, :class => 'clearfix' do %>
              <span class="pull-left">
                <i class="icon-<%= budget.icon %>"></i>&nbsp;
              </span>
              <span class="pull-left">
                <strong><%= budget.name %></strong> <br />
                <%= number_to_currency(budget.current_amount(@week_start.year, @week_start.month, @week_start.day)) %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="<%= "active " if params[:deduction_page].presence %>tab-pane" id="week-deduction">
      <ul class="nav nav-tabs nav-stacked">
      <% @transactions.each do |deduction| %>
        <li>
          <%= link_to deduction, :class => 'clearfix' do %>
            <span class="pull-left">
              <i class="icon-<%= deduction.icon %>"></i>&nbsp;
            </span>
            <span class="pull-left">
              <strong><%= deduction.name %></strong> <br />
              <%= number_to_currency(deduction.amount) %> on <%= deduction.created_at.strftime('%e/%-m/%Y') %>
            </span>
            <span class="pull-right">
              <% if !deduction.budget.nil? %>
                <br />
                <i class="icon-<%= deduction.budget.icon %>"></i>
                <%= deduction.budget.name %>
              <% end %>
            </span>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="tab-pane" id="weeks">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <%= link_to week_of_path(2012, 5, 27) do %>
            27/5/2012 - 2/6/2012
          <% end %>
        </li>
        <li>
          <%= link_to week_of_path(2012, 5, 20) do %>
            20/5/2012 - 26/5/2012
          <% end %>
        </li>
    	  <li>
          <%= link_to week_of_path(2012, 5, 13) do %>
            13/5/2012 - 19/5/2012
          <% end %>
        </li>
	      <li>
          <%= link_to week_of_path(2012, 5, 6) do %>
            6/5/2012 - 12/5/2012
          <% end %>
        </li>
        <li>
          <%= link_to week_of_path(2012, 4, 29) do %>
            29/4/2012 - 5/5/2012
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
