<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="pull-right">
      <%= link_to '#weeks', :"data-toggle" => "tab" do %>
        <i class="icon-calendar"></i> <span class="hidden-phone">Weeks</span>
      <% end %>
    </li>
    <li class="<%= "active " if params[:addition_page].presence %>pull-right">
      <%= link_to '#week-addition', :"data-toggle" => "tab" do %>
        <i class="icon-plus"></i> <span class="hidden-phone">Additions</span>
      <% end %>
    </li>
    <li class="<%= "active " if params[:deduction_page].presence %>pull-right">
      <%= link_to '#week-deduction', :"data-toggle" => "tab" do %>
        <i class="icon-minus"></i> <span class="hidden-phone">Deductions</span>
      <% end %>
    </li>
    <li class="<%= "active " if params[:deduction_page].nil? && params[:addition_page].nil? %>pull-right">
      <%= link_to '#budgets', :"data-toggle" => "tab" do %>
        <i class="icon-book"></i> <span class="hidden-phone">Budgets</span>
      <% end %>
    </li>
  </ul>

  <div class="tab-content">

    <div class="<%= "active " if params[:deduction_page].nil? && params[:addition_page].nil? %>tab-pane" id="budgets">
      <ul class="nav nav-tabs nav-stacked">
        <% current_user.budgets.each do |budget| %>
          <li>
            <%

              if budget.usage == 'spending'
                amount = budget.amount 
                icon = 'shopping-cart'
                budget.deductions.where('created_at between ? and ?', @week_start, @week_end).each do |deduction|
                  amount = amount - deduction.amount
                end
                budget.additions.where('created_at between ? and ?', @week_start, @week_end).each do |addition|
                  amount = amount + addition.amount
                end
              else
                amount = 0
                icon = 'bar-chart'
                budget.deductions.each do |deduction|
                  amount = amount - deduction.amount
                end
                budget.additions.each do |addition|
                  amount = amount + addition.amount
                end
              end
            %>
            <%= link_to budget, :class => 'clearfix' do %>
              <span class="pull-left">
                <i class="icon-<%= icon %>"></i>&nbsp;
              </span>
              <span class="pull-left">
                <strong><%= budget.name %></strong> <br />
                <%= number_to_currency(amount) %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="<%= "active " if params[:deduction_page].presence %>tab-pane" id="week-deduction">
      <ul class="nav nav-tabs nav-stacked">
      <% @deductions.each do |deduction| %>
        <li>
          <%= link_to deduction, :class => 'clearfix' do %>
            <span class="pull-left">
              <strong><%= deduction.name %></strong> <br />
              <%= number_to_currency(deduction.amount) %> on <%= deduction.created_at.strftime('%e/%-m/%Y') %>
            </span>
            <span class="pull-right">
              <% if !deduction.budget.nil? %>
                <br />
                <% if deduction.budget.usage == 'spending' %>
                  <i class="icon-shopping-cart"></i>
                <% elsif deduction.budget.usage == 'saving' %>  
                  <i class="icon-bar-chart"></i>
                <% end %>
                <%= deduction.budget.name %>
              <% end %>
            </span>
          <% end %>
        </li>
      <% end %>
      </ul>
      <%= will_paginate @deductions, :param_name => :deduction_page, :page_links => false, :previous_label => "<i class=\"icon-chevron-left\"></i>", :next_label => "<i class=\"icon-chevron-right\"></i>" %>
    </div>

    <div class="<%= "active " if params[:addition_page].presence %>tab-pane" id="week-addition">
      <ul class="nav nav-tabs nav-stacked">
      <% @additions.each do |addition| %>
        <li>
          <%= link_to addition, :class => 'clearfix' do %>
            <span class="pull-left">
              <strong><%= addition.name %></strong> <br />
              <%= number_to_currency(addition.amount) %> on <%= addition.created_at.strftime('%e/%-m/%Y') %>
            </span>
            <span class="pull-right">
              <% if !addition.budget.nil? %>
                <br />
                <% if addition.budget.usage == 'spending' %>
                  <i class="icon-shopping-cart"></i>
                <% elsif addition.budget.usage == 'saving' %>  
                  <i class="icon-bar-chart"></i>
                <% end %>
                <%= addition.budget.name %>
              <% end %>
            </span>
          <% end %>
        </li>
      <% end %>
      </ul>
      <%= will_paginate @additions, :param_name => :addition_page, :page_links => false, :previous_label => "<i class=\"icon-chevron-left\"></i>", :next_label => "<i class=\"icon-chevron-right\"></i>" %>
    </div>

    <div class="tab-pane" id="weeks">
      <ul class="nav nav-tabs nav-stacked">
        <li>
          <%= link_to week_of_path(2012, 5, 20) do %>
            20/5/2012 - 26/5/2012
          <% end %>
        </li>
	<li>
          <%= link_to week_of_path(2012, 5, 13) do %>
            13/5/2012 - 19/5/2012
          <% end %>
        </li>
	<li>
          <%= link_to week_of_path(2012, 5, 6) do %>
            6/5/2012 - 12/5/2012
          <% end %>
        </li>
        <li>
          <%= link_to week_of_path(2012, 4, 29) do %>
            29/4/2012 - 5/5/2012
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
