<div class="page-header">
	<h1>Sign in</h1>
</div>

<%= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" } do |f| %>
  <%= f.semantic_errors %>
  
  <%= f.inputs do %>
    <%= f.input :email, :input_html => { :class => "input-xlarge" } %>
    <%= f.input :password, :input_html => { :class => "input-xlarge" } %>
	  <% if devise_mapping.rememberable? -%>
			<div class="control-group">
				<div class="controls">
					<%= f.label :remember_me, :class => "checkbox" do %>
						<%= f.check_box :remember_me %> Remember me
					<% end %>
				</div>
			</div>
		<% end -%>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :label => "Sign in", :button_html => { :class => "btn-inverse" } %>
  <% end %>
<% end %>

<%= render "links" %>