<div class="page-header">
  <h1>Listing transactions</h1>
</div>

<ul class="nav nav-tabs nav-stacked">
<% @transactions.each do |transaction| %>
  <li>
    <%= link_to transaction, :class => 'clearfix' do %>
      <span class="pull-left">
        <strong><%= transaction.name %></strong> <br />
        <%= number_to_currency(transaction.amount) %> on <%= transaction.created_at.strftime('%e/%-m/%Y') %>
      </span>
      <span class="pull-right">
        <% if !transaction.budget.nil? %>
          <br /><%= transaction.budget.name %>
        <% end %>
      </span>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'New Transaction', new_transaction_path %>
