<div class="page-header">
    <h1>All Additions</h1>
</div>
<ul class="nav nav-tabs nav-stacked">
<% @additions.each do |addition| %>
  <li>
    <%= link_to addition, :class => 'clearfix' do %>
      <span class="pull-left">
        <strong><%= addition.name %></strong> <br />
        <%= number_to_currency(addition.amount) %> on <%= addition.created_at.strftime('%e/%-m/%Y') %>
      </span>
      <span class="pull-right">
        <% if !addition.budget.nil? %>
          <br /><%= addition.budget.name %>
        <% end %>
      </span>
    <% end %>
  </li>
<% end %>
</ul>

<%= will_paginate @additions, :page_links => false, :previous_label => "<i class=\"icon-chevron-left\"></i>", :next_label => "<i class=\"icon-chevron-right\"></i>" %>