<!DOCTYPE html>
<html>
<head>
  <title>Redacted</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Budget App">
	<meta name="author" content="Tim Gleeson">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>
<body>

	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'Budget', root_path, class: "brand" %>
        <div class="nav-collapse collapse " style="height: 0;">
          <ul class="nav">
            <li class="">
              <%= link_to 'New Deduction', new_deduction_path %>
            </li>
            <li class="">
              <%= link_to 'New Budget', new_budget_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

	<%= yield %>

</body>
</html>
