<!DOCTYPE html>
<html>
<head>
  <title>deduct</title>
    
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
    $(function() {
        $.stayInWebApp();
    });
  </script>
  
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,maximum-scale=1.0">
  <meta name="description" content="Budget App">
	<meta name="author" content="Tim Gleeson">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

  <%= csrf_meta_tags %>
  
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><i class="icon-home icon-white visible-phone"></i><span class="hidden-phone">deduct</span></a>
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <%= link_to new_transaction_path do %>
                <i class="icon-bookmark icon-white"></i> <span class="hidden-phone">New Transaction</span>
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-star icon-white"></i> <span class="hidden-phone">Favourites</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu ">
                <% current_user.favourites.each do |favourite| %>
                  <li>
                  <%= link_to transactions_path( :transaction => { :name => favourite.name, :amount => favourite.amount, :description => favourite.description, :transaction_type => favourite.transaction_type, :budget_id => favourite.budget_id, :tag_list => favourite.tag_list } ), :method => :post do %>
                      <%= favourite.name %> | <%= favourite.amount %> 
                    <% end %>
                  </li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to 'Favourites List', favourites_path %>
                </li>
                <li>
                  <%= link_to new_favourite_path do %>
                    <i class="icon-plus"></i> New Favourite
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-book icon-white"></i> <span class="hidden-phone">Budgets</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu ">
                <% current_user.budgets.each do |budget| %>
                <li>
                  <%= link_to budget do %>
                    <i class="icon-<%= budget.icon %>"></i>
                    <%= budget.name %>
                  <% end %>
                </li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to new_budget_path do %>
                    <i class="icon-plus"></i> New Budget
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> <span class="hidden-phone"><%= current_user.username %></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu ">
                <li><%= link_to 'Account', edit_user_registration_path %></li>
                <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to 'Signup', new_user_registration_path %></li>
            <li><%= link_to 'Signin', new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container">
  
    <% if notice %>
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Well done!</strong> <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Warning!</strong> <%= alert %>
      </div>
    <% end %>
  
		<%= yield %>
		
	</div>
</body>
</html>
